%h1 Listing patients

%table
  %thead
    %tr
      %th First name
      %th Last name
      %th Gender
      %th Date of birth
      %th Address   
      %th Longitude
      %th Latitude

  %tbody
    - @patients.each do |patient|
      %tr
        %td= patient.first_name
        %td= patient.last_name
        %td= patient.gender
        %td= patient.date_of_birth
        %td= patient.address
        %td= patient.longitude
        %td= patient.latitude
        %td= link_to 'Show', patient
        %td= link_to 'Edit', edit_patient_path(patient)
        %td= link_to 'Destroy', patient, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Patient', new_patient_path
